<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>MMoNet</title>
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.no-icons.min.css" rel="stylesheet">
        <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
        <style>
body { padding-top: 70px;
    padding-bottom: 15px; }
footer{
    position: fixed;
    bottom:1px;
    height: 15px;
    background-color: white;
    border-top: 1px solid gray;

    width: 100%;
    text-align: center;
    font-size: 10px;
}

.warn_li{
    background-color: lightyellow;
}
.warn{
    color:#f0ad4e;
}
.alarm_li{
    background-color: pink;
}
.alarm{
    color:#d9534f;
}
        </style>
    </head>
    <body>
        <header>
            <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">MMoNet</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="/inventory"><i class="icon-sitemap icon-fixed-width"></i>Inventory</a></li>
                        <li><a href="/monitor"><i class="icon-bar-chart icon-fixed-width"></i>Monitor</a></li>
                        <li class="divider"></li>
                        <li class="warn_li"><a href="#"><i class="warn icon-info-sign icon-fixed-width"></i>Warning <span class="label label-warning">42</span></a></li>
                        <li class="alarm_li"><a href="#"><i class="alarm icon-warning-sign icon-fixed-width"></i>Down <span class="label label-danger">42</span></a></li>
                    </ul>
                    <form class="navbar-form navbar-left" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search">
                        </div>
                        <button type="submit" class="btn btn-default">Submit</button>
                    </form>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{user}} <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Profile</a></li>
                                <li><a href="#">Log Out</a></li>
                            </ul>
                        </li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </nav>    
        </header>
        <div id="content">
        {%block content%}{%endblock content%}
        </div>
        <footer>
            &copy; 2013 <a href="http://www.mmo.it">MMo.IT</a> | Made for <a href="http://djangodash.com">Django Dash 2013</a>
        </footer>
        <script src="http://codeorigin.jquery.com/jquery-1.10.2.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/flot/0.8.1/jquery.flot.min.js"></script>
        <script>
        {%block script%}{%endblock script%}
        </script>
    </body>
</html>
