{% extends 'base.html' %}

{%block content%}
<div class="container">
	<div class="row">
		<div class="jumbotron col-md-5">
			<div class="row">
				<h1><small><i class="icon-sitemap icon-fixed-width"></i></small>Inventory</h1>
			</div>
			<div class="row">
				<a href="/inventory" class="btn col-md-12 btn-primary">Go</a>
			</div>
		</div>
		<div class="jumbotron col-md-offset-2 col-md-5">
			<div class="row">
				<h1><small><i class="icon-bar-chart icon-fixed-width"></i></small>Monitor</h1>
			</div>
			<div class="row">
				<a href="/monitor" class="btn col-md-12 btn-warning">Go</a>
			</div>
			<div class="row">Not 100% done, but you can come in</div>
		</div>
	</div>
	<div class="row">
		<div class="jumbotron">
			Just another Inventory/Monitoring tool? Sure, BUT this time there's a twist. The backend is not a relational database, but it goes into the magic world of graphs. Using <a href="http://www.neo4j.org/" target="_blank">Neo4j</a> as a back-end, the system should be able to manage a complex network structure without hassle and, in future, be able to use something like a reasoner to decide wether elements are connected, what the collective status is, how to optimize the monitoring operations. <hr />
			The idea of this tool is to be a proof of concept and/or a prototype.
		</div>
	</div>
</div>
{%endblock content%}