# OS
.DS_Store

# Python
*.pyc
*.pyo

# Common IDEs
*.swp
.idea/
.buildpath
.project
.settings
atlassian-ide-plugin.xml

# Project
/mmonet/local_settings.py
/mmonet/public/static
/mmonet/public/media

# Project database
*.db
